main {
  background-image: url("login-regBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding: 3rem 10rem 1rem 5rem;
  display: flex;
  justify-content: space-between;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.logo-container {
  outline: 1px solid black;
  border-radius: 100px 100px 0 0;
  width: 10rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-container {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.shop-title {
  height: 30%;
  width: 90%;
  justify-content: center;
  gap: 4rem;
}

h1 {
  font-size: 4em;
  width: min-content;
  letter-spacing: 0.1em;
}
p {
  text-align: center;
  letter-spacing: 0.6em;
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

.buttons {
  display: flex;
  gap:15rem;
  color: burlywood;
}
::-webkit-input-placeholder { 
  color: black;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  
}

.right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}
.right input:nth-child(3) {
  width: 40%;
  margin-top: 22%;
}
.buttons input {
  padding: 1em;
  background-color: transparent;
  border: 1px solid black;
  font-size: 1rem;
  
}

footer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 9%;
}
footer img {
  margin-top: 3.5rem;
  height: 40px;
  width: 43px;
}
